[Unit]
Description=Hacker Updater - Automatic APT and Flatpak updates on boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hup
User=root
Group=root
StandardOutput=append:/var/log/hup.log
StandardError=inherit
Restart=no

[Install]
WantedBy=multi-user.target
